<div class="col-md-5">
    <div class="hero-wrap h-100">
        <div class ="hero-bg hero-bg-scroll" style="background-image:url('http://guiaccs.com/wp-content/uploads/2017/08/Escuela-Jose%CC%81-A%CC%81ngel-Lamas_AMU-DESTACADA.jpg');">
            <div class="hero-mask opacity-8 bg-primary"></div>
            <div class="hero-content w-100">
                <div class="container d-flex flex-column min-vh-100">
                    <div class="row g-0 ">
                        <div class="col-12 col-md-12 col-lg-12 mx-auto">
                            <div class="logo lh-base mt-5 mb-5 mb-md-0"> 
                                <a class="d-flex" href="#" title="Escuela superior de música">
                                <img class="mx-auto" src="/images/logo.png" alt="Escuela superior de música" width="220">
                                </a> 
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 my-auto">
                        <div class="col-11 col-md-10 col-lg-9 mx-auto ">
                            <p class="text-4 lh-base">Registro de inscripción periodo 2023</p>
                            <h1 class="text-9 fw-600 mb-5">Por favor ingrese sus datos cuidadosamente!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-7 d-flex flex-column">
    <div class="container my-auto py-5">
        <div class="row g-0">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
                <h3 class="fw-600 mb-4">Ingrese sus datos</h3>
                <hr/>
                <form >
                    <div class="mb-3">
                        <label for="fullName" class="form-label fw-500">Nombres y apellidos</label>
                        <input type="text" class="form-control bg-light border-light" required placeholder="Ejemplo: Pedro ">
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label fw-500">Cédula</label>
                        <input type="text" class="form-control bg-light border-light" id="fullName" required placeholder="Enter Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label fw-500">Teléfono</label>
                        <input type="text" class="form-control bg-light border-light" id="fullName" required placeholder="Enter Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="emailAddress" class="form-label fw-500">Correo Electrónico</label>
                        <input type="email" class="form-control bg-light border-light" id="emailAddress" required placeholder="Introduzca su correo">
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label fw-500">Dirección</label>
                        <input type="text" class="form-control bg-light border-light" id="fullName" required placeholder="Dirección de habitación">
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label fw-500">Interesado en que instrumento</label>
                        <input type="text" class="form-control bg-light border-light" id="fullName" required placeholder="Ejemplo: Cuatro">
                    </div>                   
                    <div class="form-check my-4">
                        <input id="agree" name="agree" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="agree">¿Acepta usted  <a href="#">Terminos y condiciones?</a>.</label>
                    </div>
                    <button class="btn btn-primary shadow-none" type="submit">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
