<div class="col-md-5">
    <div class="hero-wrap h-100">
        <div class ="hero-bg hero-bg-scroll" style="background-image:url('http://guiaccs.com/wp-content/uploads/2017/08/Escuela-Jose%CC%81-A%CC%81ngel-Lamas_AMU-DESTACADA.jpg');">
            <div class="hero-mask opacity-8 bg-primary"></div>
            <div class="hero-content w-100">
                <div class="container d-flex flex-column min-vh-100">
                    <div class="row g-0 ">
                        <div class="col-12 col-md-12 col-lg-12 mx-auto">
                            <div class="logo lh-base mt-5 mb-5 mb-md-0"> 
                                <a class="d-flex" href="#" title="Escuela superior de música">
                                <img class="mx-auto" src="/images/logo.png" alt="Escuela superior de música" width="220">
                                </a> 
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 my-auto">
                        <div class="col-11 col-md-10 col-lg-9 mx-auto ">
                            <p class="text-4 lh-base">Registro de pre-audiciones año escolar 2023-2024</p>
                            <h1 class="text-9 fw-600 mb-5">Por favor ingrese sus datos cuidadosamente!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>